@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


*{box-sizing: border-box; font-family: 'Poppins', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

/* font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif; */




header{}
header .top{width: 100%; height: 80px; background-color: rgba(255, 255, 255, 0.75); position: fixed;}
header .top .wrap{
    width: 1200px; height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top .wrap .logo{}
header .top .wrap .logo a{}
header .top .wrap .logo a img{display: block; height: 24px;}

header .top .wrap nav{width: 380px;}
header .top .wrap nav ul{display: flex; justify-content: space-between;}
header .top .wrap nav ul li{}
header .top .wrap nav ul li a{
    font-size: 14px;
    color: #565656;
}
header .top .wrap nav ul li:hover a{color:#662021;}

header .top .wrap .icon{display: flex;}
header .top .wrap .icon a{}
header .top .wrap .icon a img{
    display: block;
    height: 24px;
    margin-left: 10px;
}

header .banner{
    width: 100%; height: 1000px; 
    background-size: cover;
    background-position: 50% 80%;
    animation: 24s fadeImg infinite;
 }
 @keyframes fadeImg{
     0%{background-image: url(../img/main_04.jpg);}
     20%{background-image: url(../img/main_05.jpg);}
     40%{background-image: url(../img/main_06.jpg);}
     60%{background-image: url(../img/main_07.jpg);}
     80%{background-image: url(../img/main_08.jpg);}
     100%{background-image: url(../img/main_04.jpg);}
 }


header .banner .wrap{
    width: 1200px; height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    /* background: #aaf; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .banner .wrap .title{
    width: calc(100% / 12 * 5 - 20px);
}
header .banner .title h1{font-size: 48px; color:#373735;}


/* #section_01 */
#section_01{
    background-image: url(../img/naturebg-1.png), url(../img/product.png);
    background-repeat: no-repeat;
    background-size: auto 50%, auto 40% ;
    background-position: 0 50%, 100% 50%;
    background-attachment: fixed;
}
#section_01 #intro{width: 1200px; margin: 0 auto; padding: 80px 10px 60px; /*background: #afa;*/}
#section_01 #intro .title{text-align: center;}
#section_01 #intro .title h2{font-size: 36px; font-family: 'Great Vibes', cursive; line-height: 40px;}
#section_01 #intro .cont{display: flex; margin-top: 40px;}
#section_01 #intro .cont .box{width: calc(100% / 3 - 10px); margin-right: 20px;}

#section_01 #intro .cont .box:last-child{margin-right: 0;}

#section_01 #intro .cont .box h4{font-size: 18px; font-weight: 400; line-height: 40px; color: #662021; text-align: center;}
#section_01 #intro .cont .box .img_part{height: 200px; background-size: cover; background-position: 50% 50%; margin-top: 30px;}

#section_01 #intro .cont .box:nth-child(1) .img_part{background-image: url(../img/intro_01.jpg);}
#section_01 #intro .cont .box:nth-child(2) .img_part{background-image: url(../img/intro_02.jpg);}
#section_01 #intro .cont .box:nth-child(3) .img_part{background-image: url(../img/intro_03.jpg);}

#section_01 #intro .cont .box p{font-size: 14px; color: #373735; margin-top: 40px;}


#section_01 #story{width: 1200px; margin: 0 auto; padding: 0 10px; padding: 80px 10px 60px; /*background: #ffa;*/}
#section_01 #story .title{text-align: center;}
#section_01 #story .title h2{font-size: 36px; font-family: 'Great Vibes', cursive;}
#section_01 #story .cont{margin-top: 40px;}
#section_01 #story .cont .box{width: 100%; margin-bottom: 20px;}

#section_01 #story .cont .box:nth-child(1){ display: flex;}
#section_01 #story .cont .box:nth-child(2){ display: flex; flex-direction: row-reverse;}

#section_01 #story .cont .box .img_part{width: calc(100% / 2 - 10px); height: 240px; background-size: cover; background-position: 50% 50%;}

#section_01 #story .cont .box:nth-child(1) .img_part{ background-image: url(../img/story_02.jpg); margin-right: 20px;}
#section_01 #story .cont .box:nth-child(2) .img_part{ background-image: url(../img/story_03.jpg);}

#section_01 #story .cont .box .txt_part{width: calc(100% / 2 - 10px); height: 240px;}

#section_01 #story .cont .box:last-child .txt_part{margin-right: 20px;}

#section_01 #story .cont .box .txt_part h4{font-size: 18px; font-weight: 400; color:#662021; line-height: 40px;}
#section_01 #story .cont .box .txt_part p{font-size: 14px; padding-top: 40px; color:#373735;}

/* #mid_banner */
#mid_banner{width: 100%; height: 280px; background-image: url(../img/cashmere_bg_01.jpg); background-size: cover; background-position: 50% 50%;}
#mid_banner .wrap{width: 1200px; margin: 0 auto; padding: 40px 10px; text-align: center; color:#fff;}
#mid_banner .wrap h2{font-size: 36px; font-weight: 400; line-height: 60px; padding-bottom: 20px;}
#mid_banner .wrap p{font-size: 18px; line-height: 40px; padding-bottom: 40px;}
#mid_banner .wrap a{display: block; width: 180px; height: 40px; margin: 0 auto; font-size: 18px; color:#fff; border: 1px solid #fff; line-height: 38px;}

#mid_banner .wrap a:hover{color:#373735; background-color: #fff;}


/* #section_02 */
#section_02{
    background-image: url(../img/naturebg-2.png), url(../img/cs-bg.png);
    background-repeat: no-repeat;
    background-size: auto 30%, auto 30% ;
    background-position: 0 50%, 100% 50%;
    background-attachment: fixed;
}

#section_02 #journal{width: 1200px; padding: 80px 10px 60px; margin: 0 auto; /*background: #faf;*/}
#section_02 #journal .title{text-align: center;}
#section_02 #journal .title h2{font-size: 36px; font-family: 'Great Vibes', cursive; line-height: 40px;}
#section_02 #journal .cont{width: 100%; padding-top: 40px;  display: flex;}
#section_02 #journal .cont .box{width: calc(100% / 4 - 10px); /*background: #ffa;*/ margin-right: 20px;}

#section_02 #journal .cont .box:last-child{margin-right: 0;}

#section_02 #journal .cont .box .img_part{height: 90px; background-size: auto 90px; background-repeat: no-repeat; background-position: 50% 50%;}

#section_02 #journal .cont .box:nth-child(1) .img_part{background-image: url(../img/tab1.png);}
#section_02 #journal .cont .box:nth-child(2) .img_part{background-image: url(../img/tab2.png);}
#section_02 #journal .cont .box:nth-child(3) .img_part{background-image: url(../img/tab3.png);}
#section_02 #journal .cont .box:nth-child(4) .img_part{background-image: url(../img/tab4.png);}

#section_02 #journal .cont .box h4{font-size: 18px; line-height: 40px; color:#662021; text-align: center; padding-top: 20px;}
#section_02 #journal .cont .box h6{font-size: 14px; font-weight: 700; color:#373735; line-height: 40px; padding-top: 20px;}
#section_02 #journal .cont .box p{font-size: 14px; color:#373735;}


#section_02 #stores{width: 1200px; margin: 0 auto; padding: 80px 10px 60px;}
#section_02 #stores .title{text-align: center;}
#section_02 #stores .title h2{font-size: 36px; font-family: 'Great Vibes', cursive; line-height: 40px;}

#section_02 #stores .btn{width: 100%; padding-top: 40px; display: flex; flex-wrap: wrap; text-align: center;}

#section_02 #stores .btn div{background-size: 100% auto; background-position: 50% 50%; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; cursor: pointer;
transition: background-size 0.5s;
}

#section_02 #stores .btn div:hover{background-size: 110% auto;}

#section_02 #stores .btn div a{display: block; width: 180px; height: 50px; background-color: #373735; color:#fff; line-height: 50px; font-size: 16px;}

#section_02 #stores .btn div:hover a{background-color: #662021;}

#section_02 #stores .btn .women{width: 100%; height: 360px; background-image: url(../img/store_women.jpg);}
#section_02 #stores .btn .women a{}

#section_02 #stores .btn .men{width: calc(100% / 12 * 5 - 10px); height: 360px; background-image: url(../img/store_men.jpg); margin-right: 20px;}
#section_02 #stores .btn .men a{}

#section_02 #stores .btn .kids{width: calc(100% / 12 * 7 - 10px); height: 360px; background-image: url(../img/store_kids.jpg);}
#section_02 #stores .btn .kids a{}


/* footer */
footer{height: 200px; background-color: #d9d9d9;}
footer .wrap{width: 1200px; margin: 0 auto; padding: 40px 10px;}
footer .wrap .info{display: flex; justify-content: space-between; align-items: center;}

footer .wrap .info .logo{}
footer .wrap .info .logo img{height: 80px;}

footer .wrap .info ul{display: flex;}
footer .wrap .info ul li{margin-right: 18px;}
footer .wrap .info ul li:last-child{margin-right: 0;}
footer .wrap .info ul li p{font-size: 14px; color:#373735;}
footer .wrap .info ul li:nth-child(3) p{text-transform: uppercase;}

footer .wrap .info .icon{}
footer .wrap .info .icon a{margin-right: 20px;}
footer .wrap .info .icon a:last-child{margin-right: 0;}
footer .wrap .info .icon a img{display: inline-block; height: 30px;}

footer .wrap .copy{text-align: center;}
footer .wrap .copy p{font-size: 14px; color: #373735;}